<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Usage Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <script src="https://sandbox.gounifiedcommerce.com/tokenizer/tokenizer.js"></script>
    <style>

        .example {
            max-width: 500px;
            margin: 0 auto;
        }
    </style>
</head>
