<% include ./partials/header %>

<body>
    <div class="container example">
        <h1 class="title is-1">Sample form</h1>
        <br>

        <form method="POST" action="/submit" id="tokenform">
            <input type="hidden" name="token" id="token">
            PO Number <input type="text" name="po_number" id="po_number">
            <br>
            <div id="example"></div>
        </form>
        <button class="button is-primary" onclick="example.submit()">Pay</button>

        <div id="results"></div>
    </div>
</body>
<script>
    var example = new Tokenizer({
    	url: "https://sandbox.fluidpay.com",
	sandbox:true,
        apikey: 'pub_keygoeshere',
        container: document.querySelector('#example'),
        submission: (resp) => {
            if (resp.status === "success") {
                document.getElementById('token').value = resp.token
                document.getElementById('tokenform').submit()
            } else {
		        console.log(resp);
                alert(resp.status)
            }

        },
        settings: {
            payment: {
                types: ['ach'], // Default ['card']
                ach: {
                    sec_code: 'web' // Default web - web, ccd, ppd, tel
                }
            },
        }
    })

    example.create()
</script>
<% include ./partials/footer %>
