<% include ./partials/header %>

<body>
    <div class="example">
        <p>
            <span style="font-weight:bold">id:</span>
            <%= id %>
            <br />
            <span style="font-weight:bold">status:</span>
            <%= status %>
        </p>
    </div>
</body>

<% include ./partials/footer %>